body { background: #d3e501; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-cluster-0 { color: #42347d; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #246e08; font-size: 20px; margin-bottom: 5px; }
.block-database-2 { color: #5cef77; font-size: 12px; margin-bottom: 5px; }
.block-router-3 { color: #524ac1; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #4cdccb; font-size: 20px; margin-bottom: 5px; }